@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=RocknRoll+One&display=swap');

/* Variables */
:root {
    --background-colour: 0, 56, 68;
    --content-background-colour: 116, 146, 219;
    --header-text-colour: 255, 235, 198;
    --content-text-colour: 255, 255, 255;
    --gamebutton-background-colour: 255, 255, 255;
    --gamebutton-colour: 96, 108, 47;
    --player-highlight-colour: 250, 209, 107;
    --player-score-text-colour: 136, 3, 176;
    --computer-highlight-colour: 136, 3, 176;
    --computer-score-text-colour: 250, 209, 107;
    --tooltip-background-colour: 192, 192, 192;
    --transparent: 0, 0, 0, 0;
    --picked-fadeout-time: 400ms;
    --heading-font: "RocknRoll One", sans-serif;
    --button-font: "Gowun Dodum", sans-serif;
}

/* Clear spacing and border values for all objects */
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Main body */
body {
    background-color: rgba(var(--background-colour), 1);
}

/* CSS Grid Definitions */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 750px 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header game ."
      "controls game .";
  }

.controls {
    display: grid;
    grid-template-columns: 110px 150px 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". howtoplay ."
        ". difficulty .";
    grid-area: controls;
}

#how-to-play-control {
    grid-area: howtoplay;
}

#difficulty-control {
    grid-area: difficulty;
}

.game {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 830px 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "."
      "score";
    grid-area: game;
}

/* Page Header */
header {
    grid-area: header;
    color: rgba(var(--header-text-colour), 1);
    font-size: 4rem;
    font-family: var(--heading-font);
    text-transform: capitalize;
}

/* Controls Area */
.controls div {
    text-align: center;
    margin-top: 50px;
}

#how-to-play-button {
    background-color: rgba(var(--content-background-colour), 1);
    border-radius: 1em;
    padding: 20px;
    font-family: var(--button-font);
    color:rgba(var(--background-colour), 1);
    font-weight: bolder;
    cursor: pointer;
    font-size: 1.2rem;
}

#how-to-play-button:hover {
    text-decoration: underline;
}

#how-to-play-control #how-to-play-tooltip {
    display: none;
    font-family: var(--button-font);
    width: 30em;
    padding: 10px 10px 10px 20px;
    background-color: rgba(var(--tooltip-background-colour), 1);
    position: absolute;
    z-index: 1;
    margin-top: -20px;
    border-radius: 1em;
    text-align: left;
    box-sizing: border-box;
}

#how-to-play-tooltip h2 {
    text-decoration: underline;
    text-align: center;
}

#how-to-play-tooltip .tooltip-player-colour {
    color: rgba(var(--player-highlight-colour), 1);
    font-size: 120%;
    font-weight: bolder;
}

#how-to-play-tooltip .tooltip-computer-colour {
    color: rgba(var(--computer-highlight-colour), 1);
    font-size: 120%;
    font-weight: bolder;
}

#difficulty-control {
    background-color: rgba(var(--content-background-colour), 1);
    border-radius: 1em;
    padding: 20px;
    font-family: var(--button-font);
    color:rgba(var(--background-colour), 1);
    font-weight: bolder;
    margin-bottom: 50%;
    height: 142px;
}

#difficulty-control input[type="radio"] {
    display: none;
}

#difficulty-control label {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid rgba(var(--background-colour), 1);
    text-align: center;
    border-radius: 1em;
    line-height: 2.5;
    cursor: pointer;
    font-weight: bolder;
}

#difficulty-control input[type="radio"]:checked+label {
    background-color: rgba(var(--header-text-colour), 1);
}

/* Game Area */
.game-area {
    width: 750px;
    height: 750px;
    background-color: rgba(var(--content-background-colour), 1);
    border-radius: 2em;
    margin: 80px auto 0 auto;
    position: relative;
}

.game-button  {
    font-size: 8rem;
    color: rgba(var(--gamebutton-colour), 1);
    background-color: rgba(var(--gamebutton-background-colour), 1);
    margin-left: -6rem;
    margin-top: -5rem;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: center;
}

.player-picked {
    border-style: solid;
    border-width: 0.8rem;
    border-color: rgba(var(--player-highlight-colour), 1);
}

.player-picked-fadeout {
    border-color: rgba(var(--player-highlight-colour), 0);
    transition: var(--picked-fadeout-time) linear;
}

.computer-picked {
    box-shadow: 0 0 0 0.8rem rgba(var(--computer-highlight-colour), 1);
}

.computer-picked-fadeout {
    box-shadow: 0 0 0 0.8rem rgba(var(--computer-highlight-colour), 0);
    transition: var(--picked-fadeout-time) linear;
}

#result-text::first-letter{
    text-transform: capitalize;
}

#result-text {
    font-family: var(--heading-font);
    font-size: 1.5rem;
    color: rgba(var(--background-colour), 1);
    text-align: center;
    top: 50%;
    position: relative;
    margin-top: -1rem;
    width: 50%;
    margin: 0 auto;
}

/* Score Area */
.score-area {
    width: 750px;
    height: 100px;
    background-color: rgba(var(--content-background-colour), 1);

    border-radius: 2em;
    margin: 10px auto;
}

.score {
    grid-area: score;
}

.score-bar {
    height: 100%;
    box-sizing: border-box;
    font-family: var(--heading-font);
    line-height: 2;
}

#player-score-bar {
    float: left;
    width: 50%;    
    background-color: rgba(var(--player-highlight-colour), 1);
    border-radius: 2em 0 0 2em;
    text-align: right;
    color: rgba(var(--player-score-text-colour), 1);
    padding-right: 5px;
}

.score-text {
    font-size: 2.6rem;
}

#computer-score-bar {
    float: right;
    width: 50%;    
    background-color: rgba(var(--computer-highlight-colour), 1);
    border-radius: 0 2em 2em 0;
    color: rgba(var(--computer-score-text-colour), 1);
    padding-left: 5px;
}

/* Media Queries */

/* Screens with reduced maximum height */
@media screen and (max-height: 900px) {
    /* Game Area */
    .game-area {
        margin-top: 0;
        width: 680px;
        height: 680px;
    }

    .game {
        grid-template-rows: 680px 1fr;
    }

    .game-button {
        margin-top: -5rem;
    }

    /* Score Area */
    .score-area {
        width: 680px;
    }

    /* Controls Area */
    #how-to-play-control #how-to-play-tooltip {
        margin-top: -200px;
    }

    .controls div {
        margin-top: 20px;
    }
}

/* Screen width that starts the right edge reducing */
@media screen and (max-width: 1320px) {
    /* Center the controls content under the header */
    .controls {
        grid-template-columns: 1fr 150px 1fr;
    }
}

/* Screen width where default header and game area are still visible */
@media screen and (max-width: 1044px) {
    /* Page Header */
    header {
        font-size: 2rem;
    }

    /* CSS Grid Definitions */
    .grid-container {
        grid-template-rows: 250px 1fr;
    }
}

/* Max screen width where header / controls and game can be positioned side by side */
@media screen and (max-width: 910px) {
    /* CSS Grid Definitions */
    .grid-container {
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 44px 750px;
        grid-template-areas:
          "header controls"
          "game game";
    }

    /* Page Header */
    header {
        font-size: 1rem;
    }

    /* Control Area */
    .controls {
        grid-template-columns: 200px 360px 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "howtoplay difficulty .";
    }

    .controls div {
        margin-top: 0px;
    }

    #how-to-play-button {
        border-radius: 1em;
        padding: 9px;
        height: auto;
        display: inline-block;
        margin-top: 0;
    }

    #difficulty-control {
        border-radius: 1em;
        padding: 0px;
        height: auto;
    }

    #difficulty-control h3 {
        display: inline;
    }

    #how-to-play-control #how-to-play-tooltip {
        margin-top: 40px;
        margin-left: -300px;
    }

    /* Game Area */
    .game-area {
        border-radius: 2em;
        margin: 5px auto 0 auto;
        position: relative;
    }

    .game {
        grid-template-rows: 750px 1fr;
    }

    #result-text {
        font-size: 1.6rem;
    }
}

/* Screens with low width */
@media screen and (max-width: 750px) {
    /* CSS Grid Definitions */
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 44px 1fr 1fr;
        grid-template-areas:
          "header"
          "game"
          "controls";
    }

    .game {
        grid-template-rows: 1fr 80px;
    }

    /* Game Area */
    .game-area {
        width: 100vw;
        margin: 0 auto 0 auto;
        text-align: center;
        height: unset;
    }

    .game-button  {
        font-size: 5rem;
        width: 8rem;
        height: 8rem;
        display: inline-block;
        position: unset;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 12px;
    }

    #result-text {
        top: unset;
        width: 90%;
        font-size: 1rem;
        margin-top: 5px
    }

    /* Score Area */
    .score-area {
        width: 100vw;
    }

    .score-text {
        font-size: 1.5rem;
    }

    .score-bar {
        line-height: 2.5;
    }

    .score-area {
        height: 60px;
    }

    /* Control Area */
    .controls {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "howtoplay difficulty";
    }

    #difficulty-control h3 {
        display: block;
    }

    #difficulty-control {
        padding: 0px;
        height: 130px;
    }

    #how-to-play-tooltip h2 {
        font-size: 1rem;
    }

    #how-to-play-control #how-to-play-tooltip {
        margin-top: 0;
        margin-left: 0;
        top: 0;
        left: 0;
        width: 100vw;
    }

    #how-to-play-button {
        margin-top: 84px;
    }
}
