/* Variables */
:root {
    --background-colour: 0, 56, 68;
    --content-background-colour: 192, 160, 26;
    --header-text-colour: 255, 235, 198;
    --content-text-colour: 255, 255, 255;
    --gamebutton-background-colour: 255, 255, 255;
    --gamebutton-colour: 96, 108, 47;
    --player-highlight-colour: 126, 242, 230;
    --computer-highlight-colour: 166, 61, 158;
    --transparent: 0, 0, 0, 0;

}

/* Clear spacing and border values for all objects */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: rgb(var(--background-colour), 1);
}

.game-area {
    width: 750px;
    height: 750px;

    background-color: rgb(var(--content-background-colour), 1);

    border-radius: 2em;

    margin: 80px auto 0 auto;
}

header {
    color: rgb(var(--header-text-colour), 1);
    font-size: 5rem;
    float: left;
}

.game-button-container {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    background-color: rgb(var(--gamebutton-background-colour), 1);
    text-align: center;
}

.game-button  {
    font-size: 8rem;
    color: rgb(var(--gamebutton-colour), 1);
    background-color: rgb(var(--transparent));
    padding-top: 1rem;
    margin: auto;
}

.player-picked {
    border-style: solid;
    border-width: 2px;
    border-color: rgb(var(--player-highlight-colour), 1);
}

.score-area {
    width: 750px;
    height: 100px;
    background-color: rgb(var(--content-background-colour), 1);

    border-radius: 2em;
    margin: 10px auto;
}